<div class="footer m-0 p-0  p-md-2">
  <div class="text-right">
  <h5>ViewTalent</h5>
  </div>
  <div class="footer-links text-center ">
    <a href="#"><i class="fas fa-envelope-open-text"></i></a>
    <a href="https://api.whatsapp.com/send?phone=+5491157489555"><i class="fab fa-whatsapp"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright ">
   Gori's Copyright ©  
  </div>
</div>
