<div class="footer">
  <div class="text-right">
  <h5>ViewTalent</h5>
  </div>
  <div class="footer-links text-center">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Ayi's production <i class="fas fa-atom text-danger"></i>
  </div>
</div>
