.banner {
  background-size: cover;
  background-position: center;
  background-image: url(/assets/laqueva.jpg);
  height: 600px;
}

.banner h1 {

  color: white;
  font-size: 70px;
  font-weight: bold;
  text-shadow: 5px 5px 5px black;
}
.banner h3 {

  color: white;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
  font-size: xx-large;
  font-weight: bold;
}

.btn-flat {
  color: white;
  border: 5px solid #d13c3c;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bolder;
  font-size: xx-large;
  transition: opacity 0.8s ease;
  margin-top: 10px;
  
}

.btn-flat:hover {
  opacity: 0.7;
  color: #d13c3c;
  border: 5px solid white;
  transition: 0.4ms;
}


.box-with-humber .number-behind {
    font-size: 8rem;
    position: absolute;
    z-index: -1;
    top: -4rem;
    left: -3rem;
    font-weight: 900;
    color: #9e3030;
}

div {
    display: block;
}

.text-title{
  color: #9e3030;
}


.fa-asterisk  {
    position: absolute;
    left: -3rem;
    font-size: 5rem;
    font-weight: 900;
    color:rgb(247, 213, 213)
}

.title {
  text-shadow: 3px blue;
  font-family: 'Spectral SC', serif;
}

h2{
  font-size: 2.5rem;
  opacity: 0.5;
}
.fabfa-whatsapp {
  color:green;

}

